// Paleta de colores
$white: #ffffff;
$persian-blue: #1e40af;
$alice-blue: #eff6ff;
$true-cobalt: #0d228a;
$full-spectrum-blue: #5057f5;
$baby-blue-ice: #9cbeff;
$black: #000000;

// boostrap
$red: #d9364f;
$blue: $full-spectrum-blue;
$yellow: $baby-blue-ice;
$orange: $persian-blue;
$green: $persian-blue;
$gray: $black;
$light-gray: $alice-blue;
